{% extends "layout/master2.html" %}


{% load static %}

{% block title%}
 Services Two | Silicon Valley Nest
{% endblock %}


{%  block dynamic_page_content %}

	<!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'siliconvalleynest/images/background/7.jpg' %})">
    	<div class="auto-container">
			<div class="content">
				<h1>Services <span>style 2</span></h1>
				<ul class="page-breadcrumb">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'svn_services' %}">Services</a></li>
				</ul>
			</div>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Services Section Ten -->
	<section class="services-section-ten style-two">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">Services</div>
				<h2>We are here to manage your <br> finance with <span>experience</span></h2>
			</div>
			<div class="row clearfix">
			
				<!-- Services Block Fifteen -->
				<div class="services-block-fifteen col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow bounceIn" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'siliconvalleynest/images/resource/service-9.jpg' %}" alt="">
							<div class="overlay-box">
								<a href="{% static 'siliconvalleynest/images/resource/service-9.jpg' %}" data-fancybox="service-2" data-caption="" class="plus flaticon-plus-symbol"></a>
							</div>
						</div>
						<div class="lower-content">
							<div class="upper-box">
								<div class="icon flaticon-coins"></div>
								<h5><a href="{% url 'svn_services_single' %}">Business Insurance</a></h5>
							</div>
							<div class="text">Excepteur sint occaecat cupidatat non proi dent, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
						</div>
					</div>
				</div>
				
				<!-- Services Block Fifteen -->
				<div class="services-block-fifteen col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow bounceIn" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'siliconvalleynest/images/resource/service-10.jpg' %}" alt="">
							<div class="overlay-box">
								<a href="{% static 'siliconvalleynest/images/resource/service-10.jpg' %}" data-fancybox="service-2" data-caption="" class="plus flaticon-plus-symbol"></a>
							</div>
						</div>
						<div class="lower-content">
							<div class="upper-box">
								<div class="icon flaticon-car"></div>
								<h5><a href="{% url 'svn_services_single' %}">Car Insurance</a></h5>
							</div>
							<div class="text">Excepteur sint occaecat cupidatat non proi dent, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
						</div>
					</div>
				</div>
				
				<!-- Services Block Fifteen -->
				<div class="services-block-fifteen col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow bounceIn" data-wow-delay="600ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'siliconvalleynest/images/resource/service-11.jpg' %}" alt="">
							<div class="overlay-box">
								<a href="{% static 'siliconvalleynest/images/resource/service-11.jpg' %}" data-fancybox="service-2" data-caption="" class="plus flaticon-plus-symbol"></a>
							</div>
						</div>
						<div class="lower-content">
							<div class="upper-box">
								<div class="icon flaticon-man"></div>
								<h5><a href="{% url 'svn_services_single' %}">Family Insurance</a></h5>
							</div>
							<div class="text">Excepteur sint occaecat cupidatat non proi dent, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
						</div>
					</div>
				</div>
				
				<!-- Services Block Fifteen -->
				<div class="services-block-fifteen col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow bounceIn" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'siliconvalleynest/images/resource/service-12.jpg' %}" alt="">
							<div class="overlay-box">
								<a href="{% static 'siliconvalleynest/images/resource/service-12.jpg' %}" data-fancybox="service-2" data-caption="" class="plus flaticon-plus-symbol"></a>
							</div>
						</div>
						<div class="lower-content">
							<div class="upper-box">
								<div class="icon flaticon-data"></div>
								<h5><a href="{% url 'svn_services_single' %}">Insurance Consulting</a></h5>
							</div>
							<div class="text">Excepteur sint occaecat cupidatat non proi dent, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
						</div>
					</div>
				</div>
				
				<!-- Services Block Fifteen -->
				<div class="services-block-fifteen col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow bounceIn" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'siliconvalleynest/images/resource/service-13.jpg' %}" alt="">
							<div class="overlay-box">
								<a href="{% static 'siliconvalleynest/images/resource/service-13.jpg' %}" data-fancybox="service-2" data-caption="" class="plus flaticon-plus-symbol"></a>
							</div>
						</div>
						<div class="lower-content">
							<div class="upper-box">
								<div class="icon flaticon-hand-shake-1"></div>
								<h5><a href="{% url 'svn_services_single' %}">Business Deal</a></h5>
							</div>
							<div class="text">Excepteur sint occaecat cupidatat non proi dent, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
						</div>
					</div>
				</div>
				
				<!-- Services Block Fifteen -->
				<div class="services-block-fifteen col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow bounceIn" data-wow-delay="600ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static 'siliconvalleynest/images/resource/service-14.jpg' %}" alt="">
							<div class="overlay-box">
								<a href="{% static 'siliconvalleynest/images/resource/service-14.jpg' %}" data-fancybox="service-2" data-caption="" class="plus flaticon-plus-symbol"></a>
							</div>
						</div>
						<div class="lower-content">
							<div class="upper-box">
								<div class="icon flaticon-chart"></div>
								<h5><a href="{% url 'svn_services_single' %}">Financing Plan</a></h5>
							</div>
							<div class="text">Excepteur sint occaecat cupidatat non proi dent, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</section>
	<!-- End Services Section Ten -->
	
	<!-- Call To Action Two -->
	<section class="call-to-action-two">
		<div class="auto-container">
			<div class="clearfix">
				
				<div class="pull-left">
					<h2>Request for <span>quote</span></h2>
				</div>
				<div class="pull-right">
					<a href="{% url 'svn_contact_us' %}" class="theme-btn btn-style-five">Request now <span class="icon fa fa-arrow-right"></span></a>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Call To Action Two -->
	
{% endblock %}